/* Variable */
:root {
  --color-green-1: #3bba63;
  --color-green-2: #7cc055;
  --color-green-3: #036432;
  --color-yellow-1: #f4dfaf;
  --color-button-1: #ff6a00;
  --color-button-2: #efa13b;
  --font-size-content: 16px;
  --font-size-content_small: 15px;
  --font-size-button: 15px;
  --color-yellow-text: #fcb817;
  --color-green-text: #036432;
  --color-white-text: #fefbf6;
  --color-grey-text: rgb(59, 59, 59);
}

/* Base */
* {
  box-sizing: border-box;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 300;
}
button {
  border: none;
}

/* Font color */
.green_text {
  color: var(--color-green-text);
}
.yellow_text {
  color: var(--color-yellow-text);
}
.grey_text {
  color: var(--color-grey-text);
}
.white_text {
  color: var(--color-white-text);
}
.green_gradient {
  background: -webkit-linear-gradient(
    var(--color-green-1),
    var(--color-green-2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 0.5px var(--color-green-3));
}

/* Border text */

/* Font */
.title_66 {
  font-size: 66px;
  font-weight: bold;
}
.title_40 {
  font-size: 40px;
  font-weight: 700;
}
.title_26 {
  font-size: 26px;
  font-weight: 700;
}
.title_20 {
  font-size: 20px;
  font-weight: 700;
}
.title_18 {
  font-size: 18px;
  font-weight: 700;
}
.title_16 {
  font-size: 16px;
  font-weight: 700;
}
.title_15 {
  font-size: 15px;
  font-weight: 700;
}

.text_align_left {
  text-align: left;
  width: 100%;
}
.text_align_right {
  text-align: right;
  width: 100%;
}

.content {
  font-size: var(--font-size-content);
  line-height: 1.7;
  text-align: justify;
  font-weight: 300;
}

.content_small {
  font-size: var(--font-size-content_small);
  line-height: 1.5;
  font-weight: 300;
}

.italic {
  font-family: "Splash", cursive;
  font-weight: bold;
}

/* Shadow */
.text_shadow_black {
  text-shadow: 1px 1px 1px black;
}

.text_shadow_white {
  text-shadow: 4px 0 #fff, -4px 0 #fff, 0 4px #fff, 0 -4px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

/* Image */
.img_40 {
  width: 40%;
}
.img_50 {
  width: 50%;
}
.img_68 {
  width: 68%;
}
.img_100 {
  width: 100%;
}

/* Background */
.background_yellow {
  background-color: var(--color-yellow-1);
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: fit-content;
}

/* Margin */
.margin_top_5 {
  margin-top: 5px;
}
.margin_top_10 {
  margin-top: 10px;
}
.margin_left_50 {
  margin-left: 50px;
}

/* Line height */
.line_height_13 {
  line-height: 1.3;
}

.line_height_1 {
  line-height: 1;
}
.line_height_15 {
  line-height: 1.5;
}

/* Font weight */
.font_weight_lighter {
  font-weight: 300;
}
.font_weight_bold {
  font-weight: bold;
}
.font_weight_bold_green {
  font-weight: bold;
  color: var(--color-green-3);
}
.font_weight_bold_red {
  font-weight: bold;
  color: rgb(214, 1, 1);
}
.font_weight_bold_red_line_through {
  font-weight: bold;
  color: rgb(214, 1, 1);
  text-decoration: line-through;
}

/* Flex */
.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.not_gap {
  gap: 0px;
}
.gap_1 {
  gap: 1px;
}

.gap_20 {
  gap: 20px;
}

.space_between {
  width: 100%;
  justify-content: space-between;
}
.width_100 {
  width: 100%;
}

/* Button */
.button_large {
  background-image: linear-gradient(
    to right,
    var(--color-button-1) 0%,
    var(--color-button-2) 51%,
    var(--color-button-1) 100%
  );
  padding: 13px 15px;
  color: var(--color-white-text);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  font-size: var(--font-size-button);
  font-weight: bold;
  width: 100%;
}

/* Animation */
.zoom-in-zoom-out {
  animation: zoom-in-zoom-out 0.8s ease infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* Translate */
.translate_x_-20 {
  transform: translateX(-20px);
}
.translate_y_-5 {
  transform: translateY(-5px);
}
.translate_x_40 {
  transform: translateX(40px);
}
.translate_xy_40_-15 {
  transform: translate(40px, -15px);
}

/* Phone button*/
.button_phone_fixed {
  padding: 8px;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(
    to right,
    var(--color-button-1) 0%,
    var(--color-button-2) 51%,
    var(--color-button-1) 100%
  );
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid #ffe1b0;
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.button_phone_fixed_img {
  width: 25px;
}

/* Cart button */
.button_cart_fixed {
  padding: 8px;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(
    to right,
    var(--color-button-1) 0%,
    var(--color-button-2) 51%,
    var(--color-button-1) 100%
  );
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid #ffe1b0;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.button_cart_fixed_img {
  width: 25px;
}
.iframe-video-preload {
  width: 100%;
  height: 210px;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--color-white-text);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  padding: 25px;
}
.card_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid var(--color-green-2);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card_image_1 {
  background-image: url("https://res.cloudinary.com/dy57fdikk/image/upload/v1693556900/trang/358091185_117372794742276_9085068320809372184_n-20230828080617-cwwy4_ffr51o.jpg");
  background-size: cover;
}
.card_name {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-green-text);
}
.card_content {
  font-size: var(--font-size-content);
  line-height: 1.7;
  text-align: justify;
  font-weight: 300;
  color: black;
}

/* Other */
.divier {
  width: 70px;
  border-bottom: 1px solid rgba(175, 173, 173, 0.7);
}
.divier_full {
  width: 100%;
  border-bottom: 1px solid rgba(175, 173, 173, 0.7);
}
.cicrle_150 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid var(--color-green-2);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* CSS */
.page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8fcf2;
}
.part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.part_1 {
  width: 100vw;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dy57fdikk/image/upload/v1693328997/trang/6e13510249a79bf9c2b6_1_xk6e3d.jpg");
  background-size: cover;
  background-position: center;
  justify-content: space-between;
}

.part_2 {
  width: 100vw;
  gap: 15px;
}
.part_2_img_1 {
  background-image: url("https://res.cloudinary.com/dy57fdikk/image/upload/v1693233538/trang/b12bd323fe862cd875973_phl53d.jpg");
  background-size: 100%;
  background-position: center;
}
.part_2_img_2 {
  background-image: url("https://res.cloudinary.com/dy57fdikk/image/upload/v1693233537/trang/29e7e7cfc66a14344d7b1_koaoz1.jpg");
  background-size: 140px;
  background-position-x: 8px;
  background-position-y: -15px;
}
.part_2_img_3 {
  background-image: url("https://res.cloudinary.com/dy57fdikk/image/upload/v1693233538/trang/2ea3e78bc62e14704d3f2_ymsftk.jpg");
  background-size: 200px;
  background-position-x: -20px;
}
.part_2_img_4 {
  background-image: url("https://res.cloudinary.com/dy57fdikk/image/upload/v1693233539/trang/05f936f81b5dc903904c4_le2fp0.jpg");
  background-size: 80%;
}

.part_3 {
  padding: 0;
  padding-top: 20px;
}

.part_4 {
  padding: 0;
}

.part_5 {
  width: 100vw;
  gap: 15px;
}

.part_6 {
  gap: 10px;
}

.part_7 {
  width: 100%;
  gap: 10px;
}

.part_8 {
  width: 100%;
  gap: 10px;
}
.part_8_img_1 {
  width: 50%;
  height: 210px;
}
.part_8_img_2 {
  width: 50%;
  height: 230px;
}
.part_8_img_3 {
  width: 50%;
}
.part_8_img_4 {
  width: 50%;
  height: 210px;
}

.part_9 {
  background-image: url("https://res.cloudinary.com/dy57fdikk/image/upload/v1693590721/trang/hhh-20201026010753_ss2ku2.jpg");
  width: 100%;
  padding: 60px 20px 20px 20px;
}
.part_9_wrap_1 {
  background-image: linear-gradient(var(--color-green-2), var(--color-green-1));
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.part_9_wrap_2 {
  padding: 20px 10px;
  border: 1px solid rgb(138, 215, 23);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.part_9_title {
  color: var(--color-white-text);
  font-weight: bold;
  font-size: 18px;
}
.part_9_time_value {
  background-color: #f8fcf2;
  padding: 15px;
  font-size: 25px;
  font-weight: 500;
  color: var(--color-green-text);
}
.part_9_time_title {
  font-size: var(--font-size-content);
  color: var(--color-white-text);
}
.part_9_wrap_3 {
  background-color: var(--color-white-text);
  padding: 10px;
  line-height: 1.5;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.part_10 {
}

.part_11 {
  width: 100%;
  gap: 15px;
  padding-bottom: 20px;
}
.part_11_title {
  font-size: 26px;
  font-weight: 700;
  color: grey;
}

.part_11_content_small {
  font-size: 14px;
  font-weight: 300;
}
.part_11_button_select {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.part_11_button_select_icon {
  width: 20px;
}
.part_11_dots_loading {
  width: 20px;
}
.part_11_comment_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.part_11_comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.part_11_comment_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.part_11_comment_body {
  background-color: var(--color-white-text);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.part_11_comment_name {
  font-size: 14px;
  font-weight: 500;
}
.part_11_comment_content {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}
.part_11_comment_rate {
  width: 12px;
}
.part_11_comment_other {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.part_11_comment_interaction {
  display: flex;
  align-items: center;
  gap: 15px;
}
.part_11_comment_like {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}
.part_11_comment_like_icon {
  width: 17px;
  transform: translateY(-2px);
}
.part_11_comment_reply {
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 0, 75);
}
.part_11_comment_created {
  font-size: 10px;
  font-weight: 300;
  color: gray;
}

.part_12 {
  padding-bottom: 20px;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
  color: var(--color-white-text);
  background-image: linear-gradient(var(--color-green-2), var(--color-green-1));
}
.part_12_title {
  font-size: 20px;
  font-weight: bold;
}
.part_12_info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.part_12_info_icon {
  width: 15px;
  color: white;
}
.part_12_info_content {
  font-size: var(--font-size-content);
}
